<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126472878801-4m87kv5mt0k23b56phtollc23sjnpon2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126472878801-4m87kv5mt0k23b56phtollc23sjnpon2</string>
	<key>API_KEY</key>
	<string>AIzaSyAlZLLTbObROzYKbtxaiwykXUiCY015SE8</string>
	<key>GCM_SENDER_ID</key>
	<string>126472878801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.codigoChat</string>
	<key>PROJECT_ID</key>
	<string>codigochat-170cf</string>
	<key>STORAGE_BUCKET</key>
	<string>codigochat-170cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126472878801:ios:679b7870ed4e23766223f0</string>
	<key>DATABASE_URL</key>
	<string>https://codigochat-170cf.firebaseio.com</string>
</dict>
</plist>